content-automation-with-n8n.json
{
  "name": "content-automation-with-n8n",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1U6_sbw7hUE5e7Icd4ibDMX90y9bfkY0T3naqKamSF7I",
          "mode": "list",
          "cachedResultName": "Social_media_workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U6_sbw7hUE5e7Icd4ibDMX90y9bfkY0T3naqKamSF7I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U6_sbw7hUE5e7Icd4ibDMX90y9bfkY0T3naqKamSF7I/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        144
      ],
      "id": "96e22b11-9d64-4360-b20c-2b7437487cf1",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "yaDHVh4YUflaw0DQ",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=System: \"You are a social media strategist with expertise in content adaptation\"\nUser: \"Analyze this article and create a summary that:\n1. Captures the 3 most important insights\n2. Includes any actionable advice or tips\n3. Maintains the original tone and perspective\n4. Highlights implications for the target audience\n5. Stays under 200 words for social media adaptation\nArticle: {{ $json.AirticleLinks }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        144,
        144
      ],
      "id": "caf21ae2-0b83-489f-8c70-7f59412ac359",
      "name": "summarize"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        368
      ],
      "id": "94351562-77fe-4023-8142-c597a3cebf09",
      "name": "OpenAI Chat airtcle",
      "credentials": {
        "openAiApi": {
          "id": "0DE0NUbWx8tdwsi6",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        576,
        64
      ],
      "id": "6acf5c66-908a-4c0c-b152-8209f279d702",
      "name": "OpenAI Chat airtcle1",
      "credentials": {
        "openAiApi": {
          "id": "0DE0NUbWx8tdwsi6",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "person": "B9tt22u3Ms",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        896,
        -160
      ],
      "id": "de15fd8e-0cc7-49bd-8e61-f882f8ffb180",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "vLYFbUmrECp5wbf9",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        576,
        576
      ],
      "id": "7b82fd46-4a13-4ae9-9157-57ac0e1649c2",
      "name": "OpenAI Chat airtcle2",
      "credentials": {
        "openAiApi": {
          "id": "0DE0NUbWx8tdwsi6",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        848,
        352
      ],
      "id": "ca073aec-9f4e-49c8-8736-d4355974e69a",
      "name": "Create Tweet"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Assume the role of an industry expert and draft a LinkedIn post discussing key points\nfrom a news article relevant to artificial intelligence. The post should provide insightful\nanalysis, connect with current industry trends, and encourage professional engagement\nor discussion. Highlight any notable implications for the industry. Since LinkedIn\nsupports detailed posts, ensure it is informative and structured. Include a professional\ncall to action. Here's a summary of the article: {{ $json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        496,
        -160
      ],
      "id": "69b5f13d-5355-49ee-9bfb-ba4589d2e599",
      "name": "Linkedin post"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Draft an X post as an Al industry expert analyzing a key news article. The post should:\nDeliver sharp insights on the article's main points\nConnect to current Al trends\nSpark discussion with a thought-provoking question\nBe punchy and engaging\nEnd with a clear call to action\nLength: Within 30 words\nFocus: What matters most to the Al community. Make every word count.\nArticle summary: {{ $json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        496,
        352
      ],
      "id": "42e40cef-29f6-4cff-9d55-63cba6a65267",
      "name": "X post"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat airtcle": {
      "ai_languageModel": [
        [
          {
            "node": "summarize",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "summarize": {
      "main": [
        [
          {
            "node": "Linkedin post",
            "type": "main",
            "index": 0
          },
          {
            "node": "X post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat airtcle1": {
      "ai_languageModel": [
        [
          {
            "node": "Linkedin post",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat airtcle2": {
      "ai_languageModel": [
        [
          {
            "node": "X post",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin post": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "X post": {
      "main": [
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4b08454a-e5e9-4a42-8a16-f00c2febe18a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "162f861b0c77e02b4186906d596c8080197078e2ec474f15049d0287bda2c317"
  },
  "id": "KM1jw6jd4n43Vy2L",
  "tags": []
}